body {
  font-family: Arial, sans-serif;
  background: lightyellow;
  padding: 20px;
  margin: 0;
  font-size: 20px;
}

h1 {
  color: #333;
  text-align: center;
  text-decoration: underline;
}
#p1 {
  font-size: 25px;
  font-weight: bold;
}

p {
  font-weight: bold;
  margin: auto;
}

ol {
  max-width: 800px;
}

li {
  margin-bottom: 20px;
  margin: auto;
}

label {
  display: block;
  margin-left: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-weight: bold;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

button:hover {
  background: #45a049;
}
